<div>
    <div style="position:absolute;width:200px;height:200px;top:50%;left:50%;margin-left:-100px;margin-top:-100px;">
        <p>
            What's <i>your</i> Stori?
        </p>
        <p>
            Install Stori from the
            <a href="https://play.google.com/store/apps/details?id=com.stori.stori" style="color:#0099cc" target="_blank">Google Play</a>
            store.
        </p>
        <p>
            More coming soon...
        </p>
        <p style="margin-top:30px;">
            <a href="https://twitter.com/WhatsYourStori" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @WhatsYourStori</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
    </div>
</div>
