<div id="slides"></div>
<div id="jquery_jplayer_1"></div>

<div id="opening-dialog" title="Stori">
    <div id="dialog-welcome-text">
        <p>
            Every Stori tells a picture!
        </p>
        <p>
            This Stori was created using the free Stori application for
            Android or iOS. It's easy to create your own Stori.
        </p>
        <p>
            For a better viewing experience,
            <a href="http://stori-app.com" target="_blank">download</a>
            the Stori app now!
        </p>
        <p>
            <input type="checkbox" id="autoplayaudio" checked="true">Play audio automatically</input>
        </p>
    </div>
    <div id="dialog-not-supported-text">
        <p>
            Stori doesn't currently support this browser. Stori works best on the
            latest Chrome, Safari, or Internet Explorer 11 browsers.
        </p>
        <p>
            This Stori was created using the free Stori application for
            Android or iOS. It's easy to create your own Stori.
        </p>
        <p>
            For a better viewing experience,
            <a href="http://stori-app.com" target="_blank">download</a>
            the Stori app now!
        </p>
    </div>
</div>

<div id="controlscontainer">
    <img id="playstopcontrol" src="/{{StaticFiles}}/images/ic_play.png" />
    <div id="slidetextcontainer"><div id="slidetext"></div></div>
    <div id="slidepositioncontainer"><div id="slideposition" class="info_text"></div></div>
    <div id="slidetitlecontainer"><div id="slidetitle" class="info_text"></div></div>
</div>
<div id="overlay"></div>
<div id="stopfetcher"></div>

<div id="get-the-app">
    <p>
        Download the free Stori app today!
    </p>
    <p>
        <a href="https://play.google.com/store/apps/details?id=com.stori.stori" target="_blank">Get the app!</a>
    </p>
    <p>
        <a href="http://stori-app.com" target="_blank">Learn more about Stori</a>
    </p>
    <p>
        Every Stori tells a picture!
    </p>
</div>

<script type="text/javascript" src="/{{StaticFiles}}/scripts/slideshow.js"></script>
<script type="text/javascript">
    slideShow.initializePage({{{SSJ_URL}}});
</script>
