<div>Slides</div>
<div>Address:</div>
<div id="slideShareAddress"></div>
<div>JSON:</div>
<div id="ssj"></div>
<div>Number of slides:</div>
<div id="numSlides"></div>
<div>
    <img id="slideImage" style="width:300px;height:300px;" alt="Slide Image"/>
</div>
<div>
    <input type="button" id="prevButton" value="Previous" />
    <input type="button" id="nextButton" value="Next" />
</div>
<div id="jquery_jplayer_1"></div>
<div id="jplayer_inspector"></div>

<script type="text/javascript" src="/{{StaticFiles}}/scripts/slideshow.js"></script>
<script type="text/javascript">
    slideShow.initializePage({{{SSJ_URL}}});
</script>
