<div id="slides"></div>
<div id="jquery_jplayer_1"></div>

<div id="opening-dialog" title="Stori">
    <div id="dialog-welcome-text">
        <p>
            Every Stori tells a picture!
        </p>
        <p>
            Download the Android app
        </p>
    </div>
    <div id="dialog-not-supported-text">
        <p>
            Stori doesn't currently support this browser. Please try Chrome or Safari, instead.
        </p>
        <p>
            Download the Android app
        </p>
    </div>
</div>

<img id="playstopcontrol" src="/{{StaticFiles}}/images/ic_play.png" />
<div id="stopfetcher"></div>
<div id="slidepositioncontainer"><div id="slideposition" class="info_text"></div></div>
<div id="slidetitlecontainer"><div id="slidetitle" class="info_text"></div></div>

<script type="text/javascript" src="/{{StaticFiles}}/scripts/slideshow.js"></script>
<script type="text/javascript">
    slideShow.initializePage({{{SSJ_URL}}});
</script>
