<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="tips">Tips</a></li>
        </ul>
        <h3 class="text-muted">Stori</h3>
    </div>

    <div class="row marketing">
        <div class="col-1g-6">
            <h4>Workflow: Edit, preview, publish, share</h4>
            <p>
                Stori launches in Edit mode. In Edit mode, you create a collection of slides, each containing
                a photo and a voice annotation. To begin, select a photo from your device's photo gallery, or
                take a new photo using the camera. Once you select a photo, it is displayed in Stori. Note
                that at the bottom of the screen, you can see which slide you are editing along with the
                total number of slides in your Stori.
            </p>
            <p>
                To <b>record</b> your voice, tap on the microphone icon. When you do, the icon will switch from a
                microphone image to a stop recording image. When you are finished recording (there is a two-minute
                limit), tap on the stop recording icon. When a slide contains audio, the play icon will appear
                at the bottom of the slide.
            </p>
            <p>
                You can <b>replace</b> the photo for the current slide simply by selecting a new one. Tap on the image
                icon at the top-left of the screen to choose a new photo. You can replace your recording by tapping
                again on the microphone icon.
            </p>
            <p>
                <b>Insert</b> a new slide by tapping on one of the plus (+) icons. Tapping on the left (+) icon inserts
                a new slide before the currently viewed slide. Tapping on the right (+) icon inserts a slide after.
                When you have a new slide, repeat the process of adding a photo and a recording.
            </p>
            <p>
                You can <b>preview</b> your Stori at any time by tapping on the menu icon at the top-right of the screen.
                The Stori you are editing is always saved to your device.
            </p>
            <p>
                When you are ready to make your Stori available for viewing, <b>publish</b> your Stori to the cloud by
                tapping on the menu icon at the top-right of the screen and choose Publish. Your Stori will be
                copied to the cloud, and will remain on your device for further editing.
            </p>
            <p>
                Once your Stori is published, you can <b>share</b> it for viewing by selecting Share from the menu icon on
                top-right of the screen. Depending on your device and the applications you have installed, you can
                share your Stori in a number of ways, including through email and SMS. Your recipient will receive
                a URL to your Stori, allowing them to view it through their web browser, or through the Stori
                application if they have it installed on their device.
            </p>

            <h4>Edit one Stori at a time</h4>
            <p>
                Stori allows you to edit one slide show at a time. The Stori application saves your current edit
                session on your device, and will delete it from your device if you choose to work on another Stori.
                You can save your Stori to the cloud by publishing it, and retrieve it for further editing by choosing
                "List my Storis" from the menu icon on the top-right of the screen. Select your Stori from the list,
                and choose Edit. This will cause your current edit session to be replaced with the Stori you selected.
            </p>
            <p>
                Remember that publishing and sharing are two separate operations. You can publish a Stori as many
                times as you wish, replacing the previous version on the cloud with each publish. You can share your
                published Stori as many times as you like, but keep in mind that if you make a change and publish
                that change, your recipient will view your latest changes.
            </p>

            <h4>Renaming a Stori does not create a new one</h4>
            <p>
                Imagine this scenario. You create a new Stori and call it, "My Stori." When you publish it and look
                in your list of Storis, you'll see "My Stori" at the top of the list. If you now rename the Stori to
                "My Renamed Stori" and publish it, this will replace the Stori you just published. Looking at your
                list of Storis, "My Renamed Stori" will now be at the top of the list. Stori titles are simply
                part of the Stori. Renaming does not create a new one.
            </p>
            <p>
                To create a new Stori, choose Create new from the menu icon at the top-right of the screen.
            </p>

            <h4>Removing slides, images, and audio</h4>
            <p>
                You can remove the image and/or the audio recording from the current slide by tapping on
                the trash icon and selecting the appropriate menu item. You can also remove the entire slide
                from your Stori through this menu.
            </p>

            <h4>Reorder your slides</h4>
            <p>
                By tapping on the edit menu, the pencil icon at the top of the screen, you can choose to reposition
                the current slide within your Stori. Choose the new position for the slide by tapping on the position
                number.
            </p>
        </div>
    </div>
</div>
