package com.hyperfine.neodori.cloudproviders;

public class WindowsAzureConnectionStrings {
    public static final String storageConnectionString =
            "DefaultEndpointsProtocol=http;" +
                    "AccountName=your_storage_account_name;" +
                    "AccountKey=your_storage_account_key";
}
