body {
    color: #FFFFFF;
    background-color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    line-height: 150%;
    margin: 0;
}

.hidden {
    display: none;

}
p {
    margin-bottom: 10px;
}

/* Remember: image slide img elements are at z-order 10 */

* {
    outline: none;
}

#opening-dialog a {
    color: #0099cc;
    text-decoration: underline;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 11;
}

#slides .slidesjs-previous {
    position: absolute;
    bottom: 60px;
    left: 10%;
    z-index: 12;
}
#slides .slidesjs-next {
    position: absolute;
    bottom: 60px;
    right: 10%;
    z-index: 12;
}

#playstopcontrol {
    position: absolute;
    bottom: 66px;
    left: 50%;
    margin-left: -24px;
    z-index: 12;
}
#stopfetcher {
    position: absolute;
    top:-10000px;
    z-index: -100;
    background-image: url(../images/ic_stopplaying.png);
}

#slidetextcontainer {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 50px;
    z-index: 12;
    pointer-events: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
#slidetextcontainer a {
    color:#0099cc;
    text-decoration: underline;
    pointer-events: auto;
    position: relative;
}
#slidetextcontainer a img {
    border: none;
}

#slidetitlecontainer {
    position: absolute;
    left: 50%;
    z-index: 12;
    bottom: 15px;
}
#slidepositioncontainer {
    position: absolute;
    left: 50%;
    z-index: 12;
    bottom: 35px;
}
.info_text {
    position: relative;
    left: -50%;
}
